# Node (React frontend)
node_modules/
build/
dist/
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (Flask backend)
__pycache__/
*.py[cod]
*.pkl
*.sqlite3
.env
.env.*

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/
.history/

# OS-specific
.DS_Store
Thumbs.db
